*.dll
*.exe
*.o
*.lo
*.a
*.la
*.dylib
*.so
*.pyc
*.pbxuser
*.mode1v3
*.swp
*.ipch
*.sdf
*.suo
*.filters
*.tlog
*.obj
*.res
*.log
*.pdb
*.idb
*.ilk
*.lastbuildstate
*.lib
*.manifest
*.exp
*.zip
*.swo
*.swm
*.swn
*.opensdf
*.user.*
*.xcuserstate
*.xcworkspace
*.xcuserdata
*.xcuserdatad
*.orig
*.tag
UserInterfaceState.*
Player/Build/Mac OS X/Polycode Player.xcodeproj/project.xcworkspace/xcuserdata/ivansafrin.xcuserdatad/UserInterfaceState.xcuserstate

.substance

/Bindings/Contents/LUA/API/Polycode/*.lua
!/Bindings/Contents/LUA/API/Polycode/EventDispatcher.lua
/Bindings/Contents/LUA/API/Polycode.lua
/Bindings/Contents/LUA/API/api.pak
/Bindings/Contents/LUA/Include/*.h
/Bindings/Contents/LUA/Source/*.cpp	
/Bindings/Contents/LUA/Source

/Modules/Bindings/2DPhysics/API/Physics2D.pak
/Modules/Bindings/3DPhysics/API/Physics3D.pak
/Modules/Bindings/UI/API/UI.pak

/Modules/Bindings/2DPhysics/API/Physics2D/*.lua
/Modules/Bindings/2DPhysics/API/Physics2D.lua
/Modules/Bindings/2DPhysics/Include/*.h
/Modules/Bindings/2DPhysics/Source/*.cpp

/Modules/Bindings/3DPhysics/API/Physics3D/*.lua
/Modules/Bindings/3DPhysics/API/Physics3D.lua
/Modules/Bindings/3DPhysics/Include/*.h
/Modules/Bindings/3DPhysics/Source/*.cpp

/Modules/Bindings/UI/API/UI/*.lua
/Modules/Bindings/UI/API/UI.lua
/Modules/Bindings/UI/Include/*.h
/Modules/Bindings/UI/Source/*.cpp

/Player/Build
/Standalone/Build

/Dependencies/Build
/Dependencies/Downloads
/Dependencies/Local/libstem_gamepad/Build

/IDE/Contents/Resources/Standalone

/IDE/Build/Windows/*
!/IDE/Build/Windows/main.cpp
!/IDE/Build/Windows/Polycode.props
!/IDE/Build/Windows/Polycode.sln
!/IDE/Build/Windows/Polycode.vcxproj
!/IDE/Build/Windows/Polycode.vcxproj.filters
!/IDE/Build/Windows/Polycode.vcxproj.user
!/IDE/Build/Windows/Polycode.rc
!/IDE/Build/Windows/resource.h

/IDE/Build/Windows2013/*
!/IDE/Build/Windows2013/main.cpp
!/IDE/Build/Windows2013/Polycode.props
!/IDE/Build/Windows2013/Polycode.sln
!/IDE/Build/Windows2013/Polycode.vcxproj
!/IDE/Build/Windows2013/Polycode.vcxproj.filters
!/IDE/Build/Windows2013/Polycode.vcxproj.user
!/IDE/Build/Windows2013/Polycode.rc
!/IDE/Build/Windows2013/resource.h

/IDE/Build/Linux/Build

/Core/Build/Mac\ OS\ X/build
/IDE/Build/Mac\ OS\ X/build
/Modules/Build/Mac\ OS\ X/build
/Tools/Build/Mac\ OS\ X/build
/Bindings/Build/Mac\ OS\ X/build
/Core/Dependencies
/Modules/Dependencies
/IDE/Dependencies
/Tools/Dependencies/assimp
/Bindings/Dependencies
/IDE/Mac\ OS\ X
/qtcreator-build
Debug
Release
/Build
/Documentation/Doxygen/output/standalone/Polycode
/Documentation/Doxygen/output/standalone/Core
/Documentation/Doxygen/output/standalone/Physics2D
/Documentation/Doxygen/output/standalone/Physics3D
/Documentation/Doxygen/output/standalone/Networking
/Documentation/Doxygen/output/standalone/PolycodeUI

/Documentation/Doxygen/output/web/Polycode
/Documentation/Doxygen/output/web/Core
/Documentation/Doxygen/output/web/Physics2D
/Documentation/Doxygen/output/web/Physics3D
/Documentation/Doxygen/output/web/Networking
/Documentation/Doxygen/html
/Documentation/Doxygen/latex

/Tools/Build/Linux/polybuild*
/Tools/Build/Linux/polyimport*

# OS generated files #
######################
.DS_Store?
.DS_Store
ehthumbs.db
Thumbs.db

Core/Build/Mac OS X/PolyCore.xcodeproj/project.xcworkspace/xcuserdata/ivansafrin.xcuserdatad/UserInterfaceState.xcuserstate

Player/Build/Mac OS X/Polycode Player.xcodeproj/project.xcworkspace/xcuserdata/ivansafrin.xcuserdatad/UserInterfaceState.xcuserstate

Player/Build/Mac OS X/Polycode Player.xcodeproj/project.xcworkspace/xcuserdata/ivansafrin.xcuserdatad/UserInterfaceState.xcuserstate

/Documentation/Lua/xml/*.xml

/Documentation/Lua/site_html
/Documentation/Lua/html/*
!/Documentation/Lua/html/css
!/Documentation/Lua/html/images
!/Documentation/Lua/html/js
