body, html {
	background-color: #e4e3e0;
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 13px;
	font-weight: 300;
	color: #3b3531;
}

#content {
	margin: 0px auto 0px auto;
	width: 900px;
	background-color: #e4e3e0;
	font-size: 16px;
}

a {
	color: #d0592a;
	text-decoration: none;
}

#global_header {
	height: 64px;
	margin: 20px auto 0px auto;
	width: 900px;
}

#module_links, #class_list {
	float: left;
	width: 200px;
	overflow: hidden;
	padding: 30px;
	margin: 0px 0px 0px 0px;
	text-align: right;
}

#class_list a {
	color: #d0592a;
	text-decoration: none;
}

.module_link {
	margin: 20px 0px 0px 0px;
	font-size: 24px;
}

.class_entry {
	font-size: 16px;
	margin: 3px 0px 0px 0px;
}

.class_main {
	margin: 0px 0px 0px 260px;
	padding: 20px;
}

.class_name {
	font-size: 32px;
	margin: 0px 0px 30px 0px;
	color: #d0592a;
}

.class_extends {
	font-size: 24px;
	margin: 0px 0px 30px 0px;
	color: #3b3531;
}

.class_extends_class a {
	font-size: 24px;
	margin: 0px 0px 30px 0px;
	color: #d0592a;
	text-decoration: underline;
}

.class_desc {
	font-size: 18px;
	color: #545454;
	margin: 0px 0px 20px 0px;
}

.class_properties_list, .class_methods_list {
	padding: 10px;
}

.class_property, .class_method {
	padding: 5px;
	margin: 0px 0px 10px 0px;
}

.class_properties_title, .class_methods_title {
	margin: 10px 0px 10px 0px;
	color: #4a4a4a;
	font-size: 24px;
}

.class_property_name {
	color: #d0592a;
}

.class_property_type {
	color: #8c8c8c;
}

.class_property_desc {
	color: #545454;
}

.class_method_name {
	color: #d0592a;
	font-size: 20px;
}

.class_method_type {
	color: #8c8c8c;
	font-size: 16px;
}

.class_method_desc {
	color: #545454;
}

.class_method_params {
	padding: 10px;
}

.class_method_param {
	padding: 0px 0px 5px 10px;
}

.class_method_param_name {
	color: #d0592a;
}

.class_method_param_type {
	color: #8c8c8c;
	font-size: 16px;
}

.class_method_param_desc {
	color: #545454;
}

.class_method_params_title {
	margin: 0px 0px 10px 0px;
	color: #363636;
	font-size: 16px;
}

.inline_param {
	color: #3b3531;
}

.inline_type {
	color: #8c8c8c;
}

.static_value {
	color: #4a4a4a;
}
